/* src/components/CourseStudentList.css */

.course-student-list-container {
    position: relative;
    padding: 50px;
    background-image: url('https://media.istockphoto.com/id/1278507736/vector/vector-frame-back-to-school-with-education-doodle-icon-symbols-on-green-chalkboard-eps10.jpg?s=612x612&w=0&k=20&c=tJfcltxqhsRJnl5ig7tMpM7UhrFJyu_Rg-J52Hv0Mis='); 
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
    background-attachment: fixed; /* La imagen permanece estática */

}

.course-student-list-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(4px);
    z-index: -1;
}

.course-student-list-container h1 {
    color: rgb(6, 37, 32);
    font-size: 36px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(12, 33, 3, 0.6);
    animation: wave 2s infinite ease-in-out; /* Animación tipo ola */
    margin-left: 530px;
}

.table-container {
    margin-top: 30px;
    width: 100%;
    overflow-x: auto;
}

.table-container h2 {
    color: rgb(6, 37, 32);
    font-size: 36px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(7, 22, 1, 0.6);
    margin-left: 430px;

}

/* Animación de ola */
@keyframes wave {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-10px);
    }
    40% {
        transform: translateY(10px);
    }
    60% {
        transform: translateY(-5px);
    }
    80% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

th, td {
    padding: 16px;
    text-align: center;
    font-size: 16px;
    color: #333;
}

th {
    background-color: rgb(12, 53, 2);
    color: white;
    font-weight: bold;
}

td {
    background-color: #f4f4f4;
    transition: background-color 0.3s ease;
}

td:hover {
    background-color: rgba(76, 175, 80, 0.2);
}

button {
    padding: 8px 16px;
    background-color: rgb(12, 53, 2);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: rgba(12, 53, 2, 0.5);
    cursor: not-allowed;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.add_student{
    color: rgb(6, 37, 32);
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(12, 33, 3, 0.6);
    margin-left: 530px;
    padding-top: 30px;
}